@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
	width: 1240px;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #525252;
	margin: 0;
	padding: 0;
	float: left;
	line-height: 22px;
}
.clear {
	width: 100%;
	float: left;
	clear: both;
}

a {
	text-decoration: none;
	color: #00acde;
}

ul {
	padding-left: 15px;
    page-break-inside: avoid;
}

li {
	padding-left: 10px;

}

table {
    page-break-inside: avoid;
}

#container {
	overflow: hidden;
	padding: 0 82px 40px;
	width: 1076px;
	float: left;
}

.section {
	border: 1px solid #d0d0d0;
	width: 1028px;
	padding: 0 23px;
	float: left;
	/*margin: 20px 0 0; */
	position: relative;
	font-size: 16px;
	line-height: 28px;
}
.section:before {
	content: "";
	page-break-inside: avoid!important;;
	width: 100%;
	height: 250px;
	position: absolute;
	z-index: -1;
	left: 0;
	top: -5px;
}

.section h2 {
	font-size: 22px;
	font-weight: normal;
	color: #00acde;
	display: block;
	height: 22px;
	padding: 27px 50px;
	margin: 0 0 0px;
	line-height: normal;
	page-break-after:avoid;

	background-image:url(1.png);
	background-size:37px 37px;
	background-repeat:no-repeat;
	background-position: left center;
}
#section1 h2 { background-image: url(1.png); }
#section2 h2 { background-image: url(2.png); }
#section3 h2 { background-image: url(3.png); }
#section4 h2 { background-image: url(4.png); }
#section5 h2 { background-image: url(5.png); }

#headsection {
	border: 0;
	padding: 0;
}
#headsection img {
	padding-top: 57px;
	max-height: 226px;
	float: left;
}

.description p{
	max-width:700px;
	font-size: 20px;
	word-wrap:break-word;

}

.description li{
	max-width:870px;
	font-size: 16px;
	word-wrap:break-word;
	/*margin: 0 0 7px 0;*/

}

#section2 p{
	max-width:1000px;
	word-wrap:break-word;
	margin-top: 0px;
    margin-bottom: 0px;
}
#headsection h1 {
	display: block;
	color: #3c3c3b;
	font-size: 32px;
	/*float: left;*/
	padding: 0;
	margin: 0px 20px 0;
	line-height: 100px;
}
#headsection h2 {
	font-size: 28px;
	color: #999;
	float: left;
	padding: 0  0 20px 20px;
	background: none;
}

#section1 {
	padding-bottom: 7px;
}

#section1 table {
	float: left;
	margin-right: 150px;
	max-width: 405px;
	border-collapse: collapse;
	font-size: 18px;
}
#section1 table.rightTable {
	margin-right: 0;
}
#section1 table td {
	padding-bottom: 10px;
}
td.longWord {
	-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
	        max-width: 300px;

}
#section1 table td.label {
	font-weight: bold;
	/*padding-right: 35px;*/

}

#section5 table td.label {
	font-weight: bold;
	/*padding-right: 35px;*/

}

#section5 {
	padding-bottom: 7px;
}

#section5 table {
	float: left;
	margin-right: 150px;
	max-width: 405px;
	border-collapse: collapse;
	font-size: 18px;
}
#section5 table.rightTable {
	margin-right: 0;
}
#section5 table td {
	padding-bottom: 10px;
}

#section2 {
	padding-bottom: 18px;
}

/* EXPERIENCE */
.experience {
	width: 100%;
	border-collapse: collapse;
	/*margin-bottom: 20px;*/
	font-size: 18px;
}
.company {
  vertical-align: top;
  text-align: left;
  color: #333132;
  font-size: 22px;
  font-weight: 800;
  max-width: 100px;
}
.position {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
	display: block;
	border-bottom: 1px solid #525252;
}
.date {
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	padding-right: 20px;
	color: #3c3c3b;
	padding-bottom: 10px;
}

/* SKILLS */
table.skills {
	border-spacing: 0;
	border-collapse: collapse;
	/*margin: 30px 0;*/
	width: 505px;
	float: left;
}
table.skills.even {
	float: right;
}
.skillTitle {
	vertical-align: top;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 15px;
	color: #333132;
	padding-top: 4px;
	text-align: center;
}
.skillName {
	padding-right: 10px;
	color: #333132;
	text-align: right;
	width: 294px;
	font-size: 18px;
}
.skillValue {
	float: right;
	display: block;
	width: 178px;
	padding: 4px 11px;
	min-height: 21px;
	font-size: 22px;
}
.skillValue.numeric {
	background: url(boxOff.png) 0 center repeat-x;
	background-size: 200px 21px;
}
.skillValue span {
	position: relative;
	left: -11px;
	height: 21px;
	display: block;
	background-image: url(boxOn.png);
	background-size:200px 21px;
	background-repeat:no-repeat;
}

.projects p {
	font-weight: bold !important;
}
.projects li {
	margin-left: 20px !important;
	padding-right: 50px;
}

#side-projects-name {
  vertical-align: top;
  text-align: left;
  color: #333132;
  font-weight: 800;
  max-width: 100px;
}

.side-projects p{
	max-width:870px;
	font-size: 16px;
	word-wrap:break-word;
	margin: 0 0 7px 20px;

}

.side-projects li{
	max-width:870px;
	font-size: 16px;
	word-wrap:break-word;
	margin: 0 0 0px 20px;

}
